<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h3>更新が完了しました。</h3>
    <%= link_to '商品一覧へ戻る', item_path(@item.id), method: :get, class:"item-destroy" %>
  </div>
</div>
<%= render "shared/footer" %>